.flex
  display flex
  &-align
    &-start
      align-items flex-start

    &-center
      align-items center

    &-end
      align-items flex-end

  &-justify
    &-start
      justify-content flex-start

    &-center
      justify-content center

    &-end
      justify-content flex-end

    &-between
      justify-content space-between

    &-around
      justify-content space-around
