.t

  // Align
  &-left
    text-align left

  &-center
    text-align center

  &-right
    text-align right

  &-justify
    text-align justify

  // Overflow

  &-overflow
    white-space nowrap
    text-overflow ellipsis
    width 100%
    display block
    overflow hidden
