.t

  // Align
  &-left
    text-align left

  &-center
    text-align center

  &-right
    text-align right

  &-justify
    text-align justify

  // Colors
  &-primary
    color $primary
  &-secondary
    color $secondary
  &-ligth
    color $ligth
  &-success
    color $success
  &-warning
    color $warning
  &-danger
    color $danger
  &-info
    color $info

  // Overflow
  &-overflow
    white-space nowrap
    text-overflow ellipsis
    width 100%
    display block
    overflow hidden
