.avatar
  border-radius 50%
  &-primary
    border 3px solid $primary
  &-secondary
    border 3px solid $secondary
  &-ligth
    border 3px solid $ligth
  &-success
    border 3px solid $success
  &-warning
    border 3px solid $warning
  &-danger
    border 3px solid $danger
  &-info
    border 3px solid $info
