.btn-outline
  padding .750rem 1.750rem
  display inline-block
  border-radius 50px
  border 2px solid
  cursor pointer
  box-shadow none
  transition all .3s
  text-decoration none
  text-transform uppercase
  font-size .9rem
  text-shadow 2px 2px 10px rgba(0, 0, 0, 1)

  i
    margin-right 10px

  &:hover
    text-shadow none

  &-primary
    background-color transparent
    border-color $primary
    color $primary
    &:hover
      background-color $primary
      color $ligth
  &-secondary
    background-color transparent
    border-color $secondary
    color $secondary
    &:hover
      background-color $secondary
      color $ligth
  &-ligth
    background-color transparent
    border-color $ligth
    color $ligth
    &:hover
      background-color $ligth
      color $primary
  &-success
    background-color transparent
    border-color $success
    color $success
    &:hover
      background-color $success
      color $primary
  &-warning
    background-color transparent
    border-color $warning
    color $warning
    &:hover
      background-color $warning
      color $primary
  &-danger
    background-color transparent
    border-color $danger
    color $danger
    &:hover
      background-color $danger
      color $primary
  &-info
    background-color transparent
    border-color $info
    color $info
    &:hover
      background-color $info
      color $primary
