.vue-notification
  padding 10px
  margin 0 5px 5px
  font-size 12px
  color #ffffff
  background #44A4FC
  border-left 5px solid
  font-family 'Fira Sans', sans-serif

  &.warn
    background $warning
    border-left-color #af5b26

  &.error
    background $danger
    border-left-color #9c3118

  &.success
    background $success
    border-left-color #618c7f

  &.info
    background $success
    border-left-color #517ea0
