@import 'variables/**/*.styl'
@import 'helpers/**/*.styl'
@import 'components/**/*.styl'

*, *:before, *:after
  padding 0
  margin 0
  box-sizing border-box

body
  background-color #FFF
  font-family sans-serif
  font-size 80%
  font-family 'Fira Sans', sans-serif
  max-width 100%
  min-height 100vh
  height auto
  overflow-x hidden
  overflow-y auto
  color $primary

button
  font-family 'Fira Sans', sans-serif

a
  text-decoration none

.first-container
  padding-top 80px
  padding-bottom 0
  position relative

::selection
  background-color $primary
  color $ligth

.sr-only
  border 0
  clip rect(0, 0, 0, 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.pointer
  cursor pointer
